@import url('https://fonts.cdnfonts.com/css/spline-sans');

*{
    margin: 0;
    padding: 0;
    font-family: 'Spline Sans',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    transition: 0.5s;
}
body{
    background: #F5F5ED;
    color: black;
    font-weight: 600;
}
#header{
    
    width: 100%;
    height: 100vh;
    background-image: url(Images/Landing\ Page.png);
    background-size: cover;
    background-position: center;
    animation: fadeIn 2s ease forwards; 

}
@keyframes fadeIn{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(50px);
        opacity: 1;
    }
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.logo{
    width: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #87BFEB ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;    
    max-width: 600px;    
}
.header-text h3 {
    font-size: 32px;
    font-weight: 900;
    opacity: 0;
    animation: slideButtom 1s ease forwards;
    animation-delay: 1s;
    
}

.header-text h3 span{
    color: #AC627E;
}
.header-text h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
  
}
.header-text p {
    font-size: 20px;
    opacity: 0;
    margin: 1%;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
 
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}
@keyframes slideButtom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}
.header-text i{
    padding: 20px;
    color: #AC627E;
    box-sizing: 50px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px 0px;
}
.header-text a{
    text-decoration: none;
    margin-top: 3%;
    font-size: 25px;
    left: 50%;
    right: 50%;
    margin-right: 15px;
    color: #87BFEB;
    display: inline-block;
    box-shadow: 5px 10px 10px 0px #87BFEB rgba(160, 60, 115, 0.8);
    transition: transform 0.5s;
}



.header-text a:hover{
    color: white;
    transform: translateY(-5px);
}
/* ----------about-------*/
#about{
    padding: 90px 0;
    color: black;
    background-color: #87BFEB;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-column-1{
    flex-basis: 35%;
}
.about-column-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-column-2{
    
    flex-basis: 60%;
}
.sub-title {
    text-decoration: none;
    margin-top: 10%;
    font-size: 80px;
    font-weight: 600;
    color: black;
    display: inline-block;
}
.sub-title span{
    color: #AC627E;
}
.about-column-2 .sub-title p{
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    transition: 1s;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px ;
    background: #AC627E;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #AC627E;
    font-size: 14px;
    font-weight: 600;
    transition: 1s ease-in-out;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents .active-tab .experience{
    font-weight: 600;
}

/* ----------services-------*/

#services {
    padding: 10px ;
    margin-bottom: 15%;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #87BFEB;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
    background: #2A5F8E;
    transform: translateY(-10px);
}

/* ----------skills-------*/
#skills{
    padding: 140px;
    background: #87BFEB;
}
.main-text h2{
    margin-left: 5%;
    font-size: 80px;
    margin-bottom: 20px;
}
.main-text h2 span{
    color: #AC627E;
}
.main-skill{
    width: 100%;
    display: grid;
    margin-left: 0;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 10px 20px 30px 0px rgba(160, 60, 115, 0.8);

    
}
.skillbar{
    margin-bottom: 3px;
    margin-top: 7%;
    margin-left: 10%;

}
.skillbar i p{
    margin-left: 50%;
}

.main-skill h3{
    margin-bottom: 10%;
    margin-top: 10%;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
.skillleft .skillbar .info{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    
}
.skillleft h3{
    text-align: center;
}
.skillleft .skillbar .bar{
    width: 90%;
    height: 10px;
    background-color: black;
    border-radius: 20px;
    margin-top: 10px;
    position: relative;
    left: 50px;

}
.skillbar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #AC627E;
    border-radius: 25px;
    box-shadow: 10px 20px 30px 0px rgba(160, 60, 115, 0.8);
}
.skillbar .bar .video{
    width: 70%;
    animation: video 7s;
}
.skillbar .bar .graphic{
    width: 50%;
    animation: graphic 8s;
}
.skillbar .bar .program{
    width: 40%;
    animation: program 6s;
}
.skillbar .bar .ppt{
    width: 80%;
    animation: ppt 9s;
}
/* skill right*/
.skillright h3{
    margin-bottom: 10px;
}
.progress-bars{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.progress-bars .progress-bar{
    width: 50%;
    height: 170px;
    margin-top: 10%;
    position: relative;
}
.progress-bars .progress-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotate(-90deg);
    width: 120px;
    height: 160px;
}
.progress-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.progress-bars .progress-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
    
}

.progress-bars .progress-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
    
}
.progress-bars .progress-bar .progress{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 0s linear forwards;
    
} 
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #AC627E;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;      
}

.path1{animation: animate-path1 6s  linear forwards;}
.path2{animation: animate-path2 7s  linear forwards;}
.path3{animation: animate-path3 4s  linear forwards;}
.path4{animation: animate-path4 5s  linear forwards;}

/* ----------keyframes-------*/

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 120;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 90;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 150;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 170;
    }
}

.progress-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 10;
}
.progress-bar .text{
    width: 150%;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-bottom: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 600;
    animation:  0.5s linear forwards;
}
/* ----------portfolio-------*/
#portfolio{
    margin-top: 1%;
    padding: 10px;
    margin-bottom: 10%;
    background: #F5F5ED;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #AC627E);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.layer p{
    font-weight: 400;
}
.layer a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #AC627E;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.button{
    display: block;
    color: black;
    margin:  50px auto;
    width: fit-content;
    border: 1px solid #AC627E;
    padding: 14px 50px;
    border-radius: 6px;
}
.button:hover{
    background: #AC627E;
}
/* ----------contact-------*/
#contact{
    background: #2A5F8E;
    padding: 90px 0;
}
.title{
    text-decoration: none;
    margin-top: 10%;
    font-size: 80px;
    font-weight: 600;
    color: black;
    display: inline-block;
}    
.title span{
    color: #F5F5ED;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #F5F5ED;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #F5F5ED;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: white;
    transform: translateY(-5px);
}
.button.btn2{
    display: inline-block;
    background: #F5F5ED;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #F5F5ED;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    border-radius: 6px;
}
form .button.butn3{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/*-------------------css for small screens--------*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(Images/CP\CPBG.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 17px;
    }
    .header-text h1{
        font-size: 30px;
        font-weight: 600;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #AC627E;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
  }

    #msg{
        color: #5D6D7E;
        margin-top: -40px;
        display: block;
    }

    .about-column-1,
    .about-column-2 {
        width: 100%;
        text-align: left; 
        margin-bottom: 20px; 
    }

    /* Adjust services layout */
    .service-list div {
        width: 100%;
        margin-bottom: 20px; 
    }

    /* Adjust skills layout */
    .main-skill {
        display: flex;
        flex-direction: column;
    }

    .skillleft,
    .skillright {
        width: 100%;
        text-align: left; 
        margin-bottom: 20px; 
    }
    .skillleft{
        width: 90%;
        text-align: left;
    }
    /* Adjust portfolio layout */
    .work-list .work {
        width: 100%;
        margin-bottom: 20px; 
    }

    /* Adjust contact layout */
    .contact-left,
    .contact-right {
        width: 100%;
        margin-bottom: 20px; 
    }

    




/*------keyframes-------*/

@keyframes video{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes graphic{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes program{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes ppt{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes glow{
    0%{
        background: #3498db;
        box-shadow: none;
    }
    100%{
        background: #3498db;
        box-shadow: 10px 20px 30px 0px rgba(0, 0, 0, 0.80);
    }
}

@keyframes team{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes communicate{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes org{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes time{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes glow{
    0%{
        background: #3498db;
        box-shadow: none;
    }
    100%{
        background: #3498db;
        box-shadow: 10px 20px 30px 0px rgba(0, 0, 0, 0.80);
    }
}
